.container {
    background-color: #ccc;
    height: 200px;
    display: flex;

    flex-direction: row; /*Definir a direção dos itens
    column= Definir como coluna
    column-reverse= Coluna Reversa
    row-reverse= Coluna da Direita para Esquerda*/

    flex-wrap: nowrap; /*Definir quebra de linha ou não
    wrap = Quebra linha
    wrap-reverse = Quebra linha reversa*/

    flex-flow: row wrap-reverse; /*Resumo flex-direction e flex-flow */

    justify-content: flex-start; /*Alinhamento horizontal
    flex-start = Alinhar da esquerda para direita
    flex-end = Alinha da direita para esquerda
    center = Alinha ao centro
    space-between = Espaçamento entre as linhas
    space-around = Espaçamento iguais em todos os itens*/ 

    align-items: stretch; /*Alinhamento Vertical
    stretch = Definir que os itens crescam igualmente
    flex-start = Alinhar no top
    flex-end = Alinhar no rodapé/fim 
    center = Alinhar no centro
    baseline = Alinhamento baseado no conteudo de cada item*/

    align-content: flex-start; /*Alinhamento vertical com quebra de linha
    flex-start = Alinhar no top
    flex-end = Alinhar no rodapé/fim 
    center = Alinhar no centro
    space-between = Espaçamento entre as linhas
    space-around = Espaçamento iguais em todos os itens 
    stretch = Definir que os itens crescam igualmente
    */

}

.item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 5px;
    width: 80px;
    height: 30px;

    flex-grow: 0; /*Largura dos itens*/
    flex-shrink: 1; /*Largura menor dos itens*/
    flex-basis: 20px; /*Largura inicial dos itens*/

    flex: 1 1 300px; /*grow|shrink|basis| Resumido em um comando*/


}

.article-01 { order: 0;}
.article-02 { order: 1;}
.article-03 { order: 2;}
.article-04 { order: 4;}

font-family: 'Open Sans', sans-serif;
